* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    background-color: violet;
}
.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    height: 90vh;
    top: -90vh;
    right: 0px;
    background-color: violet;
    align-items: center;
    width: 50vw;
    transition: all 1s;
}

.navLinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 20px;
}

.navActive {
    transform: translateY(100vh);
}

.gridWrapper {
    display: grid;
    height: 100vh;
    grid-template-areas:
    "hed nav"
    "sec sec"
    "art art"
    "fot fot";
    grid-template-columns: 80% 20%;
    grid-template-rows: 10vh 40vh 40vh 10vh;
}

.mainHead {
    grid-area: hed;
    background: violet;
}

nav {
    grid-area: nav;
}

.mainSection {
    grid-area: sec;
    background: yellow;
}

.mainArticle {
    grid-area: art;
    background: blue;
}

footer {
    grid-area: fot;
    background: green;
}

