
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}


nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    position: fixed;
    right: 0px;
}
.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    height: 100vh;
    top: -100vh;
    right: 0px;
    background: violet;
    align-items: center;
    width: 50vw;
    transition: all 1s;
}

.navLinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 20px;
}

.navActive {
    transform: translateY(100vh);
}

.gridWrapper {
    background-image: url(https://img.emg-services.net/educations/education857077/nti-teknikprogrammet-2.jpg);
    display: grid;
    height: 100vh;
    grid-template-areas:
    "hed nav"
    "sec sec"
    "art art"
    "fot fot";
    grid-template-columns: 80% 20%;
    grid-template-rows: 10vh 40vh 40vh 10vh;
}

.gridTitle {
    grid-area: hed;
}

.title {
    font-size: 32px;
    display: flex;
    align-items: center;
    color: white;
}

nav {
    grid-area: nav;
}

.mainSection {
    grid-area: sec;
    font-size: 50px;
    color: white;
    display:flex;
    align-items: center;
    text-align: center;
}

.mainSection img {
    width: 100%
}

.mainArticle {
    grid-area: art;
    background: blue;
}

.arrow {
    box-sizing: border-box;
    height: 10vw;
    width: 10vw;
    margin-bottom: 4vh;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;

  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }

  
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e242d;
    height: 10vh;
}

.mainFoot {
    grid-area: fot;
}

#gridWrapper2 {
    background-image: url(https://img.emg-services.net/educations/education857077/nti-teknikprogrammet-2.jpg);
    height: 100vh;
    display: grid;
    grid-template-areas:
    "hed nav"
    "sec sec"
    "rub rub"
    "art art"
    "fot fot"
    ;
    grid-template-columns: 80% 20%;
    grid-template-rows: 10vh 30vh 15vh 35vh 10vh;
}

.gridTitle2 {
    grid-area: hed;
}

.gridRubrik {
    grid-area: rub;
}

.secondSection {
    grid-area: sec;
    background-color: blue;
}

.secondArticle {
    grid-area: art;

}

.secondFoot {
    grid-area: fot;
}

.rubrik {
    background-color: rgb(247, 233, 252);
    display: flex;
    font-size: 32px;
    color: #0e242d;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

article {
    font-size: 16px;
    display: flex;
    color: #0e242d;
    text-align: center;
    background-color: rgb(247, 233, 252);

}
